::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 20px; 
    background-color: white;
    border: 1px solid black;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: black;
}