button.btn {
    background-color: #ffbf00;
    border: 3px solid black;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn:hover {
    background-color: #ffbf00;
    border: 3px solid black;
    border-bottom: 5px solid black;
    cursor: pointer;
}

button.btn:active {
    background-color: #ffbf00 !important;
    border-bottom: 3px solid black;
}