div#footer-con {
    width: 100%;
    background-color: #ffbf00;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-top: 3px solid black;
}

div#footer-left {
    width: 50%;
    height: 100%;
    background-color: #ffbf00;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#footer-right {
    width: 50%;
    height: 100%;
    background-color: #ffbf00;
    display: flex;
    justify-content: center;
    align-items: center;
}

img#iyzico-logo {
    transform: scale(0.1);
}

div#footer-left > h3 {
    font-size: 18px;
}