div.product-con {
  width: 212px;
  height: 378px;
  background-color: #ffbf00;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 20px;
}

img.product-image {
  width: 150px;
  height: 150px;
}

div.product-image-con {
  width: 100%;
  background-color: #ffbf00;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.product-name-con {
  width: 100%;
  background-color: #ffbf00;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.product-price-con {
  width: 100%;
  background-color: #ffbf00;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
