div#register-con {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#register-sub-con {
    width: 400px;
    height: 500px;
    background-color: #ffbf00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 30px;
}

div#register-sub-con > * {
    margin-top: 20px;
    margin-bottom: 20px;
}